@using Newtonsoft.Json
@{
    ViewData["Title"] = "Thresholds";
}

@model AFSS.ViewModels.ThresholdsViewModel

 <link rel="stylesheet" href="~/css/styles-thresholds.css">
 
 @await Html.PartialAsync("Menu")
 @await Html.PartialAsync("SubMenu")

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>  
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>  
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script> 

 <form method="post" asp-controller="Thresholds" asp-action="Thresholds">
 <div class="container">
    <div class="threshold">
        <div class="threshold__items">

            <div class="threshold__item threshold-keys">
                <div class="item__link"><div class = "text-bold text-bold--black">Ключи Raspberry</div></div>
                <div class="item__search">
                    <div class = "item__input">
                        <input id="inputSearch" class="input-key" name="number" type="text" placeholder="Поиск">
                    </div>
                </div>
                <ul id="list" class = "list-keys">
                </ul>
            </div>

            <div class="threshold__item threshold-info">
            <div class="item__link"><div class = "text-bold text-bold--black">Информация о пользователе</div></div>
            <div class="info-user">
                <div class="item__text">
                    <div class = "text-bold text-bold--black">Имя</div>
                    <div id = "nameUser" class = "text-light text-light--black">null</div>
                </div>
                <div class="item__text">
                    <div class = "text-bold text-bold--black">Логин</div>
                    <div id = "emailUser" class = "text-light text-light--black">null</div>
                </div>
                <div class="item__text">
                    <div class = "text-bold text-bold--black">Телефон</div>
                    <div id = "phoneUser" class = "text-light text-light--black">null</div>
                </div>
            </div>
        </div>

            <div class="threshold__item threshold-tmp-stove">
                <div class="item__link"><div class = "text-bold text-bold--black">Температура в печи</div></div>

                <div class="item__min">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Минимальная</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--yellow"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MinTmpStove" class="input-text" type="number" placeholder="">
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span asp-validation-for="MinTmpStove" class = "validation-text"></span>
                </spawn>

                <div class="item__max">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Высокая</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--orange"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MaxTmpStove" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span asp-validation-for="MaxTmpStove" class = "validation-text"></span>
                </spawn>

                <div class="item__critical">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Критическая</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--red"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="CriticalTmpStove" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span asp-validation-for="CriticalTmpStove" class = "validation-text"></span>
                </spawn>

            </div>
            <div class="threshold__item threshold-tmp-room">
                <div class="item__link"><div class = "text-bold text-bold--black">Температура в парной</div></div>

                <div class="item__min">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Минимальная</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--yellow"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MinTmpRoom" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span asp-validation-for="MinTmpRoom" class = "validation-text"></span>
                </spawn>

                <div class="item__max">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Высокая</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--orange"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MaxTmpRoom" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span asp-validation-for="MaxTmpRoom" class = "validation-text"></span>
                </spawn>

                <div class="item__critical">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Критическая</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--red"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="CriticalTmpRoom" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span asp-validation-for="CriticalTmpRoom" class = "validation-text"></span>
                </spawn>
            </div>
            <div class="threshold__item threshold-tmp-tank">
                <div class="item__link"><div class = "text-bold text-bold--black">Температура воды в баке</div></div>

                <div class="item__min">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Минимальная</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--yellow"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MinTmpTank" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span asp-validation-for="MinTmpTank" class = "validation-text"></span>
                </spawn>

                <div class="item__max">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Высокая</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--orange"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MaxTmpTank" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span asp-validation-for="MaxTmpTank" class = "validation-text"></span>
                </spawn>

                <div class="item__critical">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Критическая</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--red"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="CriticalTmpTank" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span asp-validation-for="CriticalTmpTank" class = "validation-text"></span>
                </spawn>
            </div>
            <div class="threshold__item threshold-gas-level">
                <div class="item__link"><div class = "text-bold text-bold--black">Уровень дыма</div></div>

                <div class="item__min">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Минимальный</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--yellow"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MinGasLevel" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span asp-validation-for="MinGasLevel" class = "validation-text"></span>
                </spawn>

                <div class="item__max">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Высокий</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--orange"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MaxGasLevel" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span asp-validation-for="MaxGasLevel" class = "validation-text"></span>
                </spawn>

                <div class="item__critical">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Критический</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--red"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="CriticalGasLevel" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span asp-validation-for="CriticalGasLevel" class = "validation-text"></span>
                </spawn>
            </div>
            <div class="threshold__item threshold-water-level">
                <div class="item__link"><div class = "text-bold text-bold--black">Уровень воды в баке</div></div>

                <div class="item__min">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Минимальный</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--red"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MinWaterLevel" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span asp-validation-for="MinWaterLevel" class = "validation-text"></span>
                </spawn>

                <div class="item__max">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Максимальный</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--yellow"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MaxWaterLevel" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span asp-validation-for="MaxWaterLevel" class = "validation-text"></span>
                </spawn>

                <div class="item__critical">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Объём бака</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="VolumeWaterLevel" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span asp-validation-for="VolumeWaterLevel" class = "validation-text"></span>
                </spawn>
            </div>
            <div class="threshold__item threshold-pressure-tank">
                <div class="item__link"><div class = "text-bold text-bold--black">Давление в баке</div></div>

                <div class="item__min">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Минимальное</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--yellow"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MinPressureTank" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span asp-validation-for="MinPressureTank" class = "validation-text"></span>
                </spawn>

                <div class="item__max">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Высокое</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--orange"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MaxPressureTank" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span asp-validation-for="MaxPressureTank" class = "validation-text"></span>
                </spawn>

                <div class="item__critical">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Критическое</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--red"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="CriticalPressureTank" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span asp-validation-for="CriticalPressureTank" class = "validation-text"></span>
                </spawn>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="control-menu">
        <div class="control-menu__items">
            <div class="control-menu__item"><button type="submit"  id = "save" class = "button button--orange"><div id = "save-image" class = "save-image"></div>Сохранить</button></div>
            <div class="control-menu__item"><div id = "clear" class = "button button--orange"><div id = "clear-image" class = "clear-image"></div>Очистить</div></div>
            <div class="control-menu__item"><div id = "reset" class = "button button--orange"><div id = "reset-image" class = "reset-image"></div>Сбросить</div></div>
            <div class="control-menu__item"><div id = "update" class = "button button--orange"><div id = "update-image" class = "update-image"></div>Обновить</div></div>
        </div>
    </div>
</div>
</form>
@await Html.PartialAsync("Footer")

<script type="text/javascript">
window.piKey = '@ViewBag.PiKey';
</script>

<script src="~/js/actions-thresholds.js"></script>


