@{
    ViewData["Title"] = "Thresholds";
}

@model AFSS.ViewModels.ThresholdsViewModel

 <link rel="stylesheet" href="~/css/styles-thresholds.css">
 
 @await Html.PartialAsync("Menu")
 @await Html.PartialAsync("SubMenu")


 <form method="post" asp-controller="Thresholds" asp-action="Index">
 <div class="container">
    <div class="threshold">
        <div class="threshold__items">
            <div class="threshold__item threshold-tmp-stove">
                <div class="item__link"><div class = "text-bold text-bold--black">Температура в печи</div></div>

                <div class="item__min">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Минимальная</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--yellow"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MinTmpStove" value = "12" class="input-text" type="number" placeholder="">
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span class = "validation-text">Не указано значение</span>
                </spawn>

                <div class="item__max">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Высокая</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--orange"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MaxTmpStove" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span class = "validation-text">Не входит в интервал</span>
                </spawn>

                <div class="item__critical">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Критическая</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--red"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="CriticalTmpStove" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span class = "validation-text">Недопустимое значение</span>
                </spawn>

            </div>
            <div class="threshold__item threshold-tmp-room">
                <div class="item__link"><div class = "text-bold text-bold--black">Температура в парной</div></div>

                <div class="item__min">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Минимальная</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--yellow"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MinTmpRoom" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span class = "validation-text"><!--Не указано значение--></span>
                </spawn>

                <div class="item__max">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Высокая</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--orange"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MaxTmpRoom" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span class = "validation-text"><!--Не входит в интервал--></span>
                </spawn>

                <div class="item__critical">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Критическая</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--red"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="CriticalTmpRoom" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span class = "validation-text"><!--Недопустимое значение--></span>
                </spawn>
            </div>
            <div class="threshold__item threshold-tmp-tank">
                <div class="item__link"><div class = "text-bold text-bold--black">Температура воды в баке</div></div>

                <div class="item__min">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Минимальная</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--yellow"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MinTmpTank" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span class = "validation-text"><!--Не указано значение--></span>
                </spawn>

                <div class="item__max">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Высокая</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--orange"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MaxTmpTank" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span class = "validation-text"><!--Не входит в интервал--></span>
                </spawn>

                <div class="item__critical">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Критическая</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--red"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="CriticalTmpTank" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span class = "validation-text"><!--Недопустимое значение--></span>
                </spawn>
            </div>
            <div class="threshold__item threshold-gas-level">
                <div class="item__link"><div class = "text-bold text-bold--black">Уровень дыма</div></div>

                <div class="item__min">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Минимальный</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--yellow"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MinGasLevel" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span class = "validation-text"><!--Не указано значение--></span>
                </spawn>

                <div class="item__max">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Высокий</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--orange"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MaxGasLevel" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span class = "validation-text"><!--Не входит в интервал--></span>
                </spawn>

                <div class="item__critical">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Критический</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--red"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="CriticalGasLevel" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span class = "validation-text"><!--Недопустимое значение--></span>
                </spawn>
            </div>
            <div class="threshold__item threshold-water-level">
                <div class="item__link"><div class = "text-bold text-bold--black">Уровень воды в баке</div></div>

                <div class="item__min">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Минимальный</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--red"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MinWaterLevel" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span class = "validation-text"><!--Не указано значение--></span>
                </spawn>

                <div class="item__max">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Максимальный</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--yellow"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MaxWaterLevel" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span class = "validation-text"><!--Не входит в интервал--></span>
                </spawn>

                <div class="item__critical">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Объём бака</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="VolumeWaterLevel" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span class = "validation-text"><!--Недопустимое значение--></span>
                </spawn>
            </div>
            <div class="threshold__item threshold-pressure-tank">
                <div class="item__link"><div class = "text-bold text-bold--black">Давление в баке</div></div>

                <div class="item__min">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Минимальное</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--yellow"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MinPressureTank" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span class = "validation-text"><!--Не указано значение--></span>
                </spawn>

                <div class="item__max">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Высокое</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--orange"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="MaxPressureTank" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span class = "validation-text"><!--Не входит в интервал--></span>
                </spawn>

                <div class="item__critical">
                    <div class="item__text">
                        <div class = "text-bold text-bold--black">Критическое</div>
                    </div>
                    <div class = "item__circle">
                        <div class = "circle circle--red"></div>
                    </div>
                    <div class = "item__input">
                        <input asp-for="CriticalPressureTank" class="input-text" type="number" placeholder=""/>
                    </div>
                </div>
                <spawn class = "validation__item">
                    <span class = "validation-text"><!--Недопустимое значение--></span>
                </spawn>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="control-menu">
        <div class="control-menu__items">
            <div class="control-menu__item"><input type="submit"  id = "save" class = "button button--orange">@*<div id = "save-image" class = "save-image"></div>Сохранить</button>*@</div>
            <div class="control-menu__item"><div id = "clear" class = "button button--orange"><div id = "clear-image" class = "clear-image"></div>Очистить</div></div>
            <div class="control-menu__item"><div id = "reset" class = "button button--orange"><div id = "reset-image" class = "reset-image"></div>Сбросить</div></div>
            <div class="control-menu__item"><div id = "update" class = "button button--orange"><div id = "update-image" class = "update-image"></div>Обновить</div></div>
        </div>
    </div>
</div>
</form>
@await Html.PartialAsync("Footer")

<script src="~/js/actions-thresholds.js"></script>

<script>
    startIntervalThreshold();
</script>