
.footer {
    margin-top: 25px;
    margin-bottom: 25px;
}
.footer__items {
    background-color: #7A0B14;
    min-width: 400px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    display: flex;

}

.footer__info {
    display: flex;
    width: 1180px;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 75px;
}

.back-to-the-top {
    display: none;
}

.politics {
    margin-left: 25px;
    padding-top: 15px;
    margin-right: 25px;
    margin-bottom: 20px;
}

.project {
    margin-left: 25px;
    padding-top: 15px;
    margin-right: 25px;
}
.text-item {
    text-align: left;
}

.text-item__project {
    text-align: center;
}

.text-item__rights > .text-light {

    font-size: 20px;
}

.contacts {
    margin-top: 15px;
    margin-right: 25px;
    display: flex;
}
.contacts > a {
    margin-left: 15px;
}

@media screen and (min-width: 875px) and (max-width: 1300px) {


    .footer__items {
        height: 175px;
    }

    .politics {
        order: 1;
    }

    .contacts {
        order: 2;
    }
    .project {
        margin: auto;
        order: 3;
    }

    .text-item__project {
        margin-bottom: 20px;
    }
}

@media screen and (min-width:0px) and (max-width:875px) {

    .back-to-the-top {
        margin: auto;

        display: flex;
    }
    .back-to-the-top > .text-item {
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .image__logo {
        position: absolute;
    }

    .footer__items {
        height: 300px;
    }

    .politics {
        margin: auto;
        order: 1;
    }

    .contacts {
        margin: auto;
        order: 2;
    }

    .contacts > a:last-child {
        margin-right: 15px;
    }

    .project {
        margin: auto;
        order: 3;
    }

    .text-item__rights {
        text-align: center;
    }

    .text-item {
        text-align: center;
    }

    .text-item:last-child {
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
    .text-item__project {
        margin-bottom: 20px;
    }
}
