.settings__items {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.settings__item {
    padding-bottom: 15px;
    border: 12.5px solid #7A0B14;
    width: 375px;
    margin-top: 25px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    background-color: white;
    display: block;
    align-items: center;
    justify-content: center;
}

.item__setting {
    margin-top: 15px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}

.item__text {
    padding-left: 15px;
    padding-right: 15px;
    width: 300px;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: left;
    vertical-align: middle;
    overflow: hidden;
    white-space:nowrap;
}

.button-sound {
    cursor: pointer;
    width: 45px;
    height: 45px;

}

.button-light {
    cursor: pointer;

    width: 45px;
    height: 45px;
}
