

@*@Html.Hidden("UserKey",ViewData["UserKeyValue"],new { @class = "someclass" })*@
<title>Statistics</title>

<link rel="stylesheet" href="~/css/styles-statistics.css">

<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

@await Html.PartialAsync("Menu")
<div class="container">
    <div class="sub-menu">
        <div class="sub-menu__items">
            <div id = "statistics" class="sub-menu__item"><div class = "button button--orange"><div class = "statisticsImage"></div>Статистика</div></div>
            <div id = "information" class="sub-menu__item"><div class = "button button--orange"><div class = "informationImage"></div>Информация</div></div>
            <div id = "data" class="sub-menu__item"><div class = "button button--orange"><div class = "dataImage"></div>Данные</div></div>
            <div id = "settings" class="sub-menu__item"><div class = "button button--orange"><div class = "settingsImage"></div>Настройки</div></div>
        </div>
    </div>

    <div class="info">
        <div class="info__items">

            <div class="item__chart">
                <canvas id="chartTemperatureStove"></canvas>
            </div>

            <div class="item__chart">
                <canvas id="chartTemperatureRoom"></canvas>
            </div>

            <div class="item__chart">
                <canvas id="chartPressureTank"></canvas>
            </div>

            <div class="item__servo">
                <div class="text__servo">
                    <div class = "text-bold text-bold--black">Тяга печи</div>
                </div>
                <div class="image__servo-stove">
                    <img id = "imageServoStove" src='../images/servo-stove-0.png' width="375" height="100" alt="servo-stove">
                </div>
                <div class="servo-stove__items">
                    <div id ="subtractForStove" class="servo-stove__subtract"><div class = "button-subtract"></div></div>
                    <div class="servo-stove__value"><div id = "servoStoveValue" class = "text-bold text-bold--black">0°</div></div>
                    <div id ="addForStove" class="servo-stove__add"><div class = "button-add"></div></div>
                </div>
            </div>

            <div class="item__servo">
                <div class="text__servo">
                    <div class = "text-bold text-bold--black">Тяга трубы</div>
                </div>
                <div class="image__servo-pipe">
                    <img id = "imageServoPipe" src="../images/servo-pipe-0.png" width="375" height="100" alt="servo-pipe">
                </div>
                <div class="servo-pipe__items">
                    <div id ="subtractForPipe" class="servo-pipe__subtract"><div class = "button-subtract"></div></div>
                    <div class="servo-pipe__value"><div id = "servoPipeValue" class = "text-bold text-bold--black">0°</div></div>
                    <div id ="addForPipe" class="servo-pipe__add"><div class = "button-add"></div></div>
                </div>
            </div>

            <div class="item__chart">
                <div class="item__chart__inner">
                    <canvas  id="chartWaterLevelTank"></canvas>
                    <canvas id="chartTemperatureTank"></canvas>
                </div>
            </div>

            <div class="item__gas-room">
                <div class="image__gas-room">
                    <img id = "imageGasRoom"  src="../images/gas-room-0.png" width="375" height="100" alt="gas-room">
                </div>
                <div class="gas-room__items">
                    <div class="gas-room__value"><div id = "gasRoomValue" class = "text-bold text-bold--black">CO и CO<sub>2</sub> не обнаружены</div></div>
                </div>
            </div>

            <div class="item__events">
                <div class="text__events"><div class = "text-bold text-bold--black">События</div></div>
                <div id = "eventsText" class="events__items">
                    <div class="events__item"><div class = "text-light text-light--black">Система запущена;</div></div>
                    <div class="events__item"><div class = "text-light text-light--black">Идёт автоматическая растопка бани;</div></div>
                    <div class="events__item"><div class = "text-light text-light--black">Тяга печи увеличена;</div></div>
                    <div class="events__item"><div class = "text-light text-light--black">Тяга печи увеличена;</div></div>
                    <div class="events__item"><div class = "text-light text-light--black">Тяга печи увеличена;</div></div>
                    <div class="events__item"><div class = "text-light text-light--black">Тяга печи увеличена;</div></div>
                </div>
            </div>

        </div>
    </div>
</div>

@await Html.PartialAsync("Footer")

<script src="~/js/actions.js"></script>
<script src="~/js/pressureTank.js"></script>
<script src="~/js/temperatureStove.js"></script>
<script src="~/js/temperatureRoom.js"></script>
<script src="~/js/temperatureTank.js"></script>
<script src="~/js/waterLevelTank.js"></script>
<script src="~/js/actions-statistics.js"></script>

<script>
    addChartTemperatureStove();
    addChartTemperatureRoom();
    addChartPressureTank();
    addChartWaterLevelTank();
    addChartTemperatureTank();
</script>