.info__items {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


.item__chart {
    border: 12.5px solid #7A0B14;
    width: 375px;
    height: 175px;
    margin-top: 25px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    background-color: white;
    display: flex;
}

.item__chart__inner {
    display: flex;
    
    position: relative;
    /*width: 400px;
    height: 200px;*/
}

.item__servo {
    border: 12.5px solid #7A0B14;
    width: 375px;
    height: 175px;
    margin-top: 25px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    background-color: white;
}

.item__servo:hover, .item__chart:hover, .item__gas-room:hover, .item__events:hover  {
    border: 12.5px solid #FE611E;
}

.item__gas-room {
    border: 12.5px solid #7A0B14;
    width: 375px;
    height: 175px;
    margin-top: 25px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    background-color: white;
}

.item__events {
    border: 12.5px solid #7A0B14;
    width: 800px;
    height: 175px;
    margin-top: 25px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    background-color: white;
}
.events__item {
    margin-left: 25px;
    margin-top: 10px;
    text-align: left;
}
.image__servo-stove {
    width: 375px;
    height: 100px;
    background-color: white;
}

.text__servo {
    text-align: left;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}

.servo-stove__items {
    justify-content: center;
    width: 375px;
    height: 75px;
    background-color: #F7FBF5;
    display: flex;
}

.image__servo-pipe {
    width: 375px;
    height: 100px;
    background-color: white;
}

.servo-pipe__items {
    justify-content: center;
    width: 375px;
    height: 75px;
    background-color: #F7FBF5;
    display: flex;
}
.servo-pipe__value {
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 20px;
    width: 40px;
}

.image__gas-room {
    width: 375px;
    height: 100px;
    background-color: orange;
}

.gas-room__items {
    justify-content: center;
    width: 375px;
    height: 75px;
    background-color: #F7FBF5;
    display: flex;
}

.gas-room__value {
    margin-top: 20px;
}

.servo-stove__subtract {
    margin-top: 15px;
}

.servo-pipe__subtract {
    margin-top: 15px;
}

.button-subtract {
    cursor: default;
    text-decoration: none;
    outline: none;
    border: none;
    background: none;
    width: 45px;
    height: 45px;
    opacity: 0.5;
    background: url(../images/subtract.svg);
}

.servo-stove__add {
    margin-top: 15px;
}

.servo-pipe__add {
    margin-top: 15px;
}

.button-add {
    cursor: default;
    text-decoration: none;
    outline: none;
    border: none;
    background: none;
    width: 45px;
    height: 45px;
    opacity: 0.5;
    background: url(../images/add.svg);
}

.button-power {
    cursor: default;
    text-decoration: none;
    outline: none;
    border: none;
    background: none;
    width: 45px;
    height: 45px;
    opacity: 0.5;
    background: url(../images/button-power.svg);
}

.button-auto {
    cursor: default;
    text-decoration: none;
    outline: none;
    border: none;
    background: none;
    width: 45px;
    height: 45px;
    opacity: 0.5;
    background: url(../images/button-auto.svg);
}

.servo-stove__value {
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 20px;
    width: 40px;
}

.events__items {
    width: 800px;
    height: 115px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x:hidden;
    padding-bottom: 15px;
}

.events__items::-webkit-scrollbar {
    width: 12.5px;
}

.events__items::-webkit-scrollbar-thumb {
    background-color:#FE611E;
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
}

.events__items::-webkit-scrollbar-thumb:hover{
    background-color: #FEC715;
}

.item__chart__value {
    position: absolute;
    margin-top: 5px;
    margin-left: 250px;
}

@media screen and (min-width: 875px) and (max-width: 1300px) {
    .item__events {
        width: 375px;
        height: 175px;
    }

    .events__items {
        width: 375px;
    }
}

@media screen and (min-width:0px) and (max-width:875px) {
    .item__events {
        width: 375px;
        height: 175px;
    }

    .events__items {
        width: 375px;
    }
}

.options-buttons {
    position: absolute;
    display: flex;
    width: 375px;
    height: 100px;
}

.auto-option {
    margin-left: 15px;
    margin-top: 15px;
}

.power-option {
    margin-left: 15px;
    margin-top: 15px;
}

