.input-data {
    margin-top: 25px;
    margin-left: 12.5px;
    margin-right: 12.5px;
}

.input-data__items {
    margin: 0 auto;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 1250px;
}

    .input-data__items > .input-text {
        margin-top: 25px;
    }

    .input-data__items > .button--orange {
        margin: 25px auto;
        width: 330px;
        border: 0px;
    }

    .input-data__items > .text-bold--black {
        font-size: 48px;
    }

.key__inner {
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
}

.name__inner {
    display: block;
}

.validation__item {
    margin-left: 15px;
    position: absolute;
    justify-content: left;
    text-align: left;
}

.validation-text {
    display: flex;
    font-family: "Stem-Light";
    font-size: 24px;
    width: 410px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    height: 45px;
    border: none;
    color: #E00E0F;
}

    .validation-text:invalid {
        display: block;
        width: 0px;
        height: 25px;
    }

.validation-summary-errors {
    padding-left: 415px;
    justify-content: left;
    text-align: left;
}


@media screen and (min-width: 875px) and (max-width: 1300px) {

    .validation-text {
        width: 200px;
    }

    .validation-summary-errors {
        padding-left: 262.5px;
    }
}

@media screen and (min-width:0px) and (max-width:875px) {

    .validation-summary-errors {
        padding-left: 15px;
        padding-right: 15px;
        width: 300px;
    }

    .validation__item {
        margin-left: 0px;
        position: relative;
        width: 330px;
    }

    .validation-text {
        width: 300px;
    }

        .validation-text:empty {
            display: block;
            height: 25px;
        }

    .key__inner {
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .name__inner {
        margin-bottom: 0px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li:first-child {
        margin-top: 0px;
    }

    li:last-child {
        margin-bottom: 25px;
    }

    .input-data__items > .button--orange {
        margin-top: 0px;
    }

    .name__inner > .validation__item > span:not(:empty) {
        margin-bottom: 25px;
    }
}

.validation-summary__inner {
    /*display: block;*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*width: 300px;*/
}

li {
    margin-top: 25px;
    padding-right: 15px;
    display: flex;
    text-align: left;
    font-family: "Stem-Light";
    font-size: 24px;
    align-items: center;
    border: none;
    color: #E00E0F;
}

ul {
    padding: 0px;
    margin: 0px;
}
