<title>Registration</title>

<link rel="stylesheet" href="~/css/styles-registration.css">
@*<link rel="stylesheet" href="~/css/styles-menu-input.css">*@

@await Html.PartialAsync("MenuInput")

<div class="container">
    <div class="input-data">
        <div class="input-data__items">
            <div class = "text-bold text-bold--black">Регистрация</div>
            <input class="input-text" name="text" type="text" placeholder="Введите ключ"></input>
            <input class="input-text" name="example_email" type="login" placeholder="Введите логин"></input>
            <input class="input-text" name="password" type="password" placeholder="Введите пароль"> </input>
            <input class="input-text" name="password" type="password" placeholder="Повторите пароль"> </input>
            <div id="registration" class = "button button--orange">Зарегистрироваться</div></div>
    </div>
</div>

@await Html.PartialAsync("Footer")

<script src="~/js/actions-registration.js"></script>
