@{
    ViewData["Title"] = "Authorization";
}

@model AFSS.ViewModels.LoginViewModel

<link rel="stylesheet" href="~/css/styles-authorization.css">

@await Html.PartialAsync("MenuInput")

<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">

      <div class="container">
          <div class="input-data">
            <div class="input-data__items">

                <div class = "text-bold text-bold--black">Авторизация</div>

                <div class = "login__inner">
                <input asp-for="Email" class="input-text" placeholder="Логин"></input>
                    <spawn class = "validation__item">
                        <span asp-validation-for="Email" class = "validation-text"></span>
                    </spawn>
                </div>

                <div class = "password__inner">
                <input  asp-for="Password" class="input-text"placeholder="Пароль"></input>
                    <spawn class = "validation__item">
                        <span asp-validation-for="Password" class = "validation-text"></span>
                    </spawn>
                </div>

                <div class = "validation-summary__inner">
                        <div asp-validation-summary="ModelOnly"></div>
                </div>

                <div class = "remember__inner">
                    <spawn class = "remember__item">
                        <input asp-for="RememberMe" class="checkbox" />
                        <div class = "text-light text-light--black">Запомнить меня</div>
                    </spawn>
                </div>

                <input type="submit" value="Войти" id ="authorization" class = "button button--orange"></input>

                <div class = "recovery-password__inner">
                    <div class = "recovery-password__item">
                        <a href = "" class = "text-light text-light--black">Восстановить пароль</a>
                    </div>
                </div>

            </div>
        
        </div>
    </div>
</form>

@await Html.PartialAsync("Footer")

@*<script src="~/js/actions-authorization.js"></script>*@
