<title>Menu-input</title>

<link rel="stylesheet" href="~/css/styles-menu-input.css">

<div id = "menu-input">
    <div class = "container">
        <div class = "menu-input">
            <div class="menu-input__items">
                <div class="image__logo--mini">
                    <img src="../images/logo.svg" width="45" height="45" alt="logo">
                </div>
                <div class = "button-back">
                    <div id = "back" class = "button button--red">Вернуться</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/actions-menu-input.js"></script>


