<title>sub-menu</title>

<link rel="stylesheet" href="~/css/styles-sub-menu.css">

<div class="container">
    <div class="sub-menu">
        <div class="sub-menu__items">
            <div class="sub-menu__item"><div id = "statistics" class = "button button--white"><div id = "statistics-image" class = "statistics-image"></div>Статистика</div></div>
            <div class="sub-menu__item"><div id = "informations" class = "button button--white"><div id = "informations-image" class = "informations-image"></div>Информация</div></div>
            @if (User.Identity.IsAuthenticated) 
              {      
            <div class="sub-menu__item"><div id = "thresholds" class = "button button--white"><div id = "thresholds-image" class = "thresholds-image"></div>Данные</div></div>
            <div class="sub-menu__item"><div id = "settings" class = "button button--white"><div id = "settings-image" class = "settings-image"></div>Настройки</div></div>
            } 
        </div>
    </div>
</div>



<script src="~/js/actions-sub-menu.js"></script>

<script>
    setColorButtons()
    startIntervalSubMenu();
</script>